# Project specific
*.layout
obj/

# IDE Files
.vscode
.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake 
build/
cmake/
CMakeUserPresets.json

# Pip wheel artefacts
__pycache__
*.egg-info/
